<!DOCTYPE html>
<html>
    <head>
        <title>ブックオフオンライン一括取得</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>

        <!-- <script language="javascript" type="text/javascript">
            function OnButtonClick() {
                target = document.getElementById("js_output");
                target.innerHTML = "<br><h3>実行中〜少々お待ちください</h3>";
            }
        </script> -->
    </head>

    <body style="padding: 10px 30px;">
        <h1>ブックオフオンライン一括取得</h1>
        <p style="margin-top: 40px;"></p>

        <input type="button" id="submit" class="btn" value="取得開始" onclick="send_to_python()" style="margin-top: 30px;">
        <div id="js_output"></div>

        <p><br><br></p>
        <div id="result"></div>

        <p><br><br></p>
        
    </body>

</html>